<div class="row">
    <div class="col-sm-8 col-xs-12">
        <ul class="home post-list">
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/index-post-list', {post: post}) %>
            <% }) %>
        </ul>
        <div class="paginator">
            <% if (page.prev_link) { %>
                <a class="prev" href="<%- url_for(page.prev_link) %>"><%=__('prev')%></a>
            <% } %>
            <% if (page.next_link) { %>
            <a class="next" href="<%- url_for(page.next_link) %>"><%=__('next')%></a>
            <% } %>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 first-xs last-sm">
        <%- partial('_partial/sidebar') %>
    </div>
</div>
