<nav id="menuToggle">
    <div class="title"><h3><a href="<%=url_for('/')%>"><%=config.title%></a></h3></div>
    <input type="checkbox" onclick="document.body.classList.toggle('lock-scroll');" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu" class="nav nav-list">
        <% if(theme.nav.menu.home) { %>
            <li class="nav-list-item <%=is_home()||is_post()?'active':''%>">
                <a href="<%=url_for(config.root)%>" target="_self">Home</a>  
            </li>
        <% } %>
        <% if(theme.nav.menu.about) { %>
            <li class="nav-list-item <%=page.type=='about'?'active':''%>">
                <a href="<%=url_for('/about/')%>" target="_self">About</a>  
            </li>
        <% } %>
        <% if(theme.nav.menu.tags) { %>
            <li class="nav-list-item <%=is_archive()?'active':''%>">
                <a href="<%=url_for(config.tag_dir)%>" target="_self">Tags</a>
            </li>
        <% } %>
        <% if(theme.nav.menu.categories) { %>
            <li class="nav-list-item <%=is_archive()?'active':''%>">
                <a href="<%=url_for(config.category_dir)%>" target="_self">Categories</a>
            </li>
        <% } %>
        <% if(theme.nav.menu.archives) { %>
            <li class="nav-list-item <%=is_archive()?'active':''%>">
                <a href="<%=url_for(config.archive_dir)%>" target="_self">Archives</a>
            </li>
        <% } %>
        <% if(theme.nav.menu.comments) { %>
            <li class="nav-list-item <%=page.type=='comments'?'active':''%>">
                <a href="<%=url_for('/comments/')%>" target="_self">Comments</a>
            </li>
        <% } %>
        <% if(theme.nav.menu.rss) { %>
            <li class="nav-list-item">
                <a href="<%=url_for('/atom.xml')%>" target="_self">RSS</a>
            </li>
        <% } %>
        <% if(theme.nav.menu.example) { %>
            <li class="nav-list-item">
                <a>Example</a>
            </li>
        <% } %>
    </ul>
</nav>

 